<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Excel File Upload</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
  <div class="container mt-5">

    <h1 style="text-transform: uppercase;">Thêm mới/chỉnh sửa thông tin</h1>

    <div id="success-message" class="alert alert-success" style="display: none;"></div>
    <div id="error-message" class="alert alert-danger" style="display: none;"></div>
    <div id="error-file" class="alert alert-danger" style="display: none;"><a href="">Bản ghi lỗi</a></div>

    <div class="card">
      <div class="card-header">
        Thông tin nhân viên y tế
      </div>
      <div class="card-body">
        <div class="text-center" id="form-loading" style="display: none;">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>

        <form id="upload-form" enctype="multipart/form-data" action="/excel/upload" method="POST"
          onsubmit="return validateForm()">
          <div class="mt-2">
            <label for="uploadInput" class="form-label">Tải lên excel (<a href="/file-template.xlsx" class="">Tải file
                mẫu</a>)</label>
            <input type="file" class="form-control" name="fileExcel" accept=".xlsx, .xls" id="uploadInput" />
          </div>
          <button type="submit" class="btn btn-primary mt-3">Tải lên</button>
        </form>
      </div>
    </div>


  </div>

  <script>
    function validateForm() {
      var fileInput = document.querySelector('input[type="file"]');
      var successMessage = document.getElementById('success-message');
      var form = document.getElementById('upload-form');
      var formLoading = document.getElementById('form-loading');

      var errorMessageElement = document.getElementById('error-message');
      var errorFileElement = document.getElementById('error-file');
      var errorLinkElement = errorFileElement.querySelector('a');

      // Check if a file is selected
      if (!fileInput.files.length) {
        errorMessageElement.textContent = 'Chưa chọn file upload!';
        errorMessageElement.style.display = 'block';
        return false; // Prevent form submission
      } else {
        errorMessageElement.style.display = 'none';
        successMessage.style.display = 'none'; // Hide the success message if it's displayed

        // Create a FormData object to send the form data
        var formData = new FormData(form);

        formLoading.style.display = 'block';
        form.style.display = 'none';

        // Send the form data using an AJAX request
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/excel/upload', true);
        xhr.onreadystatechange = function () {
          if (xhr.readyState === 4) {
            console.log(xhr);

            if (xhr.status === 201 || xhr.status === 200) {
              const res = JSON.parse(xhr.response || "{}")
              if (res?.errorLink) {
                errorFileElement.style.display = 'block';
                errorLinkElement.setAttribute('href', res.errorLink);
              } else {
                successMessage.textContent = 'Upload file thành công!';
                successMessage.style.display = 'block';
                errorFileElement.style.display = 'none';

                setTimeout(() => {
                  successMessage.style.display = 'none';
                }, 5000)
              }

              fileInput.value = '';
              formLoading.style.display = 'none';
              form.style.display = 'block';
            } else {
              console.error(xhr);

              formLoading.style.display = 'none';
              errorFileElement.style.display = 'none';
              form.style.display = 'block';

              errorMessageElement.textContent = 'Lỗi server!';
              errorMessageElement.style.display = 'block';
            }
          };
        }

        xhr.send(formData);
        return false; // Prevent form submission
      }

      return false
    }
  </script>

</body>

</html>